# Banco de Dados (Credenciais Iniciais do Postgres)
POSTGRES_DB=              # ← nome do banco (ex: banco_checklist)
POSTGRES_USER=            # ← usuário do banco (ex: admin)
POSTGRES_PASSWORD=        # ← senha do banco

# JWT (Autenticação)
JWT_SECRET=               # ← chave secreta para assinar os tokens

# Configurações do Banco de Dados para a API Node.js se conectar via Docker
DB_HOST=                  # ← nome do serviço do banco no docker-compose (ex: db_acquacheck)
DB_PORT=                  # ← porta interna do banco (ex: 5432)

# Porta interna do Node.js
PORT=                     # ← porta onde a API vai rodar (ex: 3000)
