# Banco de Dados (Credenciais Iniciais do Postgres)
POSTGRES_DB=acquacheck
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

# JWT (Autenticação)
JWT_SECRET=supersecretjwtkey12345

# Configurações do Banco de Dados para a API Node.js se conectar via Docker
DB_HOST=db_acquacheck
DB_PORT=5432

# Configurações do Redis (Blacklist JWT)
REDIS_HOST=redis_cache

# Porta interna do Node.js
PORT=3000
